
:root {
  --primary_color: #4488EE;
  --secondary_color: black;
  --tertiary_color: #e7f0f7;
  --fourth_color:#FFBD59;
}

.headerBar {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100vw;
  max-width:100%;
  border-bottom: thin solid var(--secondary_color);
  color:white;
  background: var(--primary_color);
  white-space:nowrap;
}

.headerLink, .headerLink:hover {
  color:white;
  text-decoration:none !important;
}

.socialIcon {
  width:30px;
}

.socialIcon:active {
  transform: translateY(2px);
}

.socialLink {
  text-decoration:none !important;
}

.tfcDivBlueBackground {
  border-radius:5px;
  padding:10px;
  border:thin darkgrey solid;
  background: var(--primary_color);
  width:300px;
  text-align:center;
  display:flex;
  flex-direction:column;
  box-shadow: 2px 2px darkgrey;
  color:white;
  margin-bottom:10px;
}

i {
  margin:10px;
  font-size:30px;
}

.predictionBox {
  background: var(--tertiary_color);
  color: black;
  padding:20px;
  border-radius:5px;
  white-space:nowrap;
  border:thin solid darkgrey;
  font-size:18px;
  box-shadow: 2px 2px darkgrey;
  width:525px;
  height:fit-content;
}

button {
  cursor:pointer;
  outline:none !important;
  background: var(--tertiary_color);
  height:60px;
  margin-top:10px;
  color:black;
}

.coinButton, .windowButton {
  background: var(--tertiary_color);
  height:60px;
  margin-top:10px;
  color:black;
}

.coinButton:active, button:active {
  transform: translateY(2px);
}

.windowButton > div {
  display:flex;
  align-items:center;
  justify-content:center;
}

.selectedButton, .coinButton:hover, .windowButton:hover {
  background: var(--fourth_color);
}

.buttonRed {
  box-shadow: 0 3px red;
}

.buttonGreen {
  box-shadow: 0 3px green;
}

.navButton {
  display:inline-flex;
  align-items:center;
  background:none;
  border:thin solid black !important;
  padding:10px;
}

.navLink {
  text-decoration:none !important;
}

.fa-caret-up {
  margin: 0 3px 0 0;
  color: green;
  font-size:20px;
  margin-top:2px;
}

.fa-caret-down {
  margin: 0 3px 0 0;
  color: red;
  font-size:20px;
  margin-top:2px;
}

.predAttribute {
  margin-left:5px;
  font-weight:bold;
}

#modelDetailsButton {
  padding:0px;
  background: var(--tertiary_color);
}

#modelDetailsCaret {
  margin:3px;
  font-size:20px;
}

#modelDetailsBlock {
  margin-top:10px;
}

.rotate {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.disclaimer {
  font-size:12px;
  padding:1rem;
  text-align:center;
  max-width:1000px;
  position:absolute;
  right:0;
  left:0;
  margin-right:auto;
  margin-left:auto;
}

.techLogo {
  width:150px;
}

.emojiButton {
  border:none;
  outline:none !important;
  margin-right:5px;
  height:30px;
}

.banner {
  padding:50px;
  width:100vw;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border-bottom: thin solid darkgrey;
  text-align:center;
}

.techBanner {
  background: var(--tertiary_color);
}

.footerLink {
  text-decoration:underline;
  margin-left:0.25rem;
  margin-right:0.25rem;
}