{% extends 'base.html' %}
{% block content %}
  <div style="display:flex;align-items:top;">
    <div>
      <div class="smartBlock" id="passcodeBlock">
        <label for="passcode">Enter Passcode:</label>
        <input type="text" id="passcode" name="passcode">
        <button id="enterPasscode" class="mainButton">Submit</button>
      </div>
      <div class="smartBlock" id="updateDataBlock">
        <label>Update the data from the Coinbase API</label>
        <div><i class="fas fa-sync"></i></div>
        <button class="mainButton" id="updateData" onclick="getPriceHistory()">Update Data</button>
      </div>
      <div class="smartBlock" id="predictPriceBlock">
        <label>Get Price Predictions</label>
        <div><i class="fas fa-dollar-sign"></i></div>
        <div>Supported Coins:</div>
        {% for COIN in SUPPORTED_COINS %}
        <button class="mainButton" id="getPrice{{COIN}}" value="{{COIN}}" onclick="pricePrediction(this)">{{COIN}}</button>
        {% endfor %}
      </div>
    </div>
    <div id="mainContainer">
      <div id="summary" style="margin:15px;">
        <div style="width:500px;">
          This is a proof-of-concept web platform designed to give users price
          predictions for popular cryptocurrencies using advanced artificial
          intelligence trained from years of historical pricing data.
        </div>
        <br>
        <div id="locked">This page is <b>locked</b>. You must enter a valid passcode to start.</div>
        <div id="unlocked" style="display:none;">This page is <b>unlocked</b>. You may continue.</div>
      </div>
      <div id="DataUpdateSuccess" style="margin:15px;display:none;">Data update successful!</div>
      <div id="pricePredictionBox" class="block" style="display:none;">
        <div id="predict_coin" style="font-size:30px;font-weight:bold;"></div>
        <br>
        <div id="predict_change" class="expectedPriceChange"></div>
        <br>
        <div id="predict_time"></div>
        <div id="predict_now"></div>
        <div id="predict_close"></div>
        <div id="predict_prediction"></div>
        <br>
        <div id="stats_training_time"></div>
        <div id="stats_mae"></div>
        <div id="stats_mape"></div>
      </div>
    </div>
  </div>
  <div style="margin:15px;width:100%;text-align:center;font-size:12px;">
    <span>Developed by Dale Kube (dkube@uwalumni.com)</span>
    <br>
    <a href="https://github.com/dalekube/coinML" target="_blank">https://github.com/dalekube/coinML</a>
  </div>

{% endblock %}
