
:root {
  --primary_color: #4488EE;
  --secondary_color: #FF5C39;
  --tertiary_color: #e7f0f7;
}

.inputBlock {
  border-radius:5px;
  padding:10px;
  border:thin darkgrey solid;
  margin:15px;
  background: var(--primary_color);
  width:250px;
  text-align:center;
  display:flex;
  flex-direction:column;
  box-shadow: 2px 2px darkgrey;
  color:white;
}

i {
  margin:10px;
  font-size:30px;
}

.block {
  background: var(--primary_color);
  padding:20px;
  margin:15px;
  border-radius:5px;
  font-size:18px;
  color:white;
  box-shadow: 2px 2px darkgrey;
}

.predictionBox {
  background: var(--tertiary_color);
  padding:20px;
  margin:15px;
  border-radius:5px;
  border:thin solid darkgrey;
  font-size:18px;
  box-shadow: 2px 2px darkgrey;
}

.coinTitle {
  font-size:30px;
  font-weight:bold;
  color:#4488EE;
}

button {
  border:none !important;
  outline:none !important;
  border-radius: 5px !important;
  padding:5px;
  cursor:pointer;
}

button:active {
  transform: translateY(2px);
}

.freeButton {
  background: var(--tertiary_color);
  box-shadow: 0 3px var(--secondary_color);
}

.premiumButton {
  background: var(--secondary_color);
  box-shadow: 0 3px var(--tertiary_color);
}

.coinButton {
  height:60px;
  margin-top:10px;
}

.coinButton:active {
  transform: translateY(2px);
}

.submitButton {
  height:30px;
  margin-top:10px;
  box-shadow: 0px 3px var(--secondary_color);
}

.fa-caret-up {
  margin: 0 3px 0 0;
  color: green;
  font-size:20px;
  margin-top:2px;
}

.fa-caret-down {
  margin: 0 3px 0 0;
  color: red;
  font-size:20px;
  margin-top:2px;
}

.fa-dollar-sign {
  color:white !important;
}

.predAttribute {
  margin-left:5px;
  font-weight:bold;
}

.loading {
  
  margin-left:50px;

}

.loadingSpinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--secondary_color);
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  -moz-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.passcodeStatus {
  color:white;
  padding:10px;
  border-radius:5px;
  text-align:center;
  width:250px;
  margin-top:15px;
}

.passcodeAccepted {
  background: var(--secondary_color);
}

.passcodeDenied {
  background:darkred;
}

.example {
  overflow:hidden;
  position:relative;
}

.ribbon {
  margin: 0;
  background: #FF5C39;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}

.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: #FF5C39;
}

.ribbon:before {
  right:100%;
}

.premiumCoin {
  color: white !important;
  font-weight:bold !important;
  margin-bottom:10px !important;
}
