
:root {
  --primary_color: #4488EE;
  --secondary_color: #FF5C39;
  --tertiary_color: #e7f0f7;
}

.headerBar {
  display:flex;
  align-items:center;
  height:100px;
  width:100%;
  border-bottom: thin solid var(--secondary_color);
  color:white;
  background: var(--primary_color);
  white-space:nowrap;
}

.headerBar > div {
  padding:10px;
}

.headerLink, .headerLink:hover {
  color:white;
  text-decoration:none !important;
}

.socialIcon {
  width:30px;
}

.socialIcon:active {
  transform: translateY(2px);
}

.socialLink {
  text-decoration:none !important;
}

.coinBlock {
  border-radius:5px;
  padding:10px;
  border:thin darkgrey solid;
  background: var(--primary_color);
  width:250px;
  text-align:center;
  white-space:nowrap;
  display:flex;
  flex-direction:column;
  box-shadow: 2px 2px darkgrey;
  color:white;
}

i {
  margin:10px;
  font-size:30px;
}

.tfcContainer {
  margin:10px;
  color:white;
}

.predictionBox {
  background: var(--tertiary_color);
  color: black;
  padding:20px;
  border-radius:5px;
  white-space:nowrap;
  border:thin solid darkgrey;
  font-size:18px;
  box-shadow: 2px 2px darkgrey;
  width:525px;
}

.coinTitle {
  font-size:30px;
  font-weight:bold;
  color:#4488EE;
}

button {
  border:none !important;
  outline:none !important;
  border-radius: 5px !important;
  padding:5px;
  cursor:pointer;
}

button:active {
  transform: translateY(2px);
}

.coinButton {
  background: var(--tertiary_color);
  box-shadow: 0 3px var(--secondary_color);
  height:60px;
  margin-top:10px;
  color:black;
}

.coinButton:active {
  transform: translateY(2px);
}

.navButton {
  display:inline-flex;
  align-items:center;
  background:none;
  border:thin solid black !important;
  padding:10px;
}

.navLink {
  text-decoration:none !important;
}

.fa-caret-up {
  margin: 0 3px 0 0;
  color: green;
  font-size:20px;
  margin-top:2px;
}

.fa-caret-down {
  margin: 0 3px 0 0;
  color: red;
  font-size:20px;
  margin-top:2px;
}

.predAttribute {
  margin-left:5px;
  font-weight:bold;
}

#modelDetailsButton {
  padding:0px;
  background: var(--tertiary_color);
}

#modelDetailsCaret {
  margin:3px;
  font-size:20px;
}

#modelDetailsBlock {
  margin-top:10px;
}

.rotate {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
