{% extends 'base.html' %}
{% set active_page = "about" %}
{% block content %}
<div class="container" style="max-width:800px !important;">
  <div>
    TwentyFourCoins offers 24-hour, forwarding-looking price forecasts for popular cryptocurrencies using artificial intelligence. The platform is under active development.
  </div>
  <br>
  <div>
    <h3>Artificial Intelligence</h3>
    Models are automatically re-trained , once per day, to account for new prices and patterns. 
    The objective of each model is to minimize prediction error for recent days of observed, actual prices.
  </div>
  <br>
  <div>
    <h3>Updates</h3>
    Price forecast generation and data collection occur every few minutes. The process
    applies the predictive models to the latest data to arrive at the price forecasts.
  </div>
  <br>
  <div>
    <h3>Contact Info & Support</h3>
    Email TwentyFourCoins at <a href='mailto:support@twentyfourcoins.com'>support@twentyfourcoins.com</a> for questions, feedback, or technical problems.
  </div>
  <br>
  <br>
  <a href="/" class="navLink"><button class="navButton"><i class="fas fa-arrow-left"></i><span>Go Back</span></button></a>
</div>
{% endblock %}