{% extends 'base.html' %}
{% set active_page = "about" %}
{% block content %}
<div class="container" style="width:600px !important;">
  <div>
    {{SUMMARY}}
  </div>
  <br>
  <div>
    <h3>Artificial Intelligence</h3>
    Models are automatically re-trained , once per day, to account for new prices and patterns. 
    The objective of each model is to minimize prediction error for recent days.
  </div>
  <br>
  <div>
    <h3>Updates</h3>
    Price forecasts are generated every few minutes. The process
    applies the predictive models to the new data to arrive at the price forecasts.
  </div>
  <br>
  <div>
    <h3>Contact Info & Support</h3>
    Email TwentyFourCoins at <a href='mailto:support@twentyfourcoins.com'>support@twentyfourcoins.com</a> for questions, feedback, or technical problems.
  </div>
</div>
{% endblock %}