{% extends 'base.html' %}
{% set active_page = "about" %}
{% block content %}
<div class="container" style="max-width:800px !important;">
  <div>
    TwentyFourCoins offers forwarding-looking price forecasts for popular cryptocurrencies using artificial intelligence. The platform is under active development.
    Financial institutions traditionally build their own internal, proprietary models and keep the models to themselves. TwentyFourCoins wants to give everyday investors
    the same kind of forecasts for cryptocurrencies.
  </div>
  <br>
  <div>
    <h3>Artificial Intelligence</h3>
    The proprietary models are automatically re-trained , once per day, to account for new prices and patterns. 
    The objective of each model is to minimize prediction error for recent days of observed, actual prices. Models
    are trained from historical prices and other supplementary data.
  </div>
  <br>
  <div>
    <h3>Updates</h3>
    Price forecasts and data collection occur every few minutes. The process
    applies the predictive models to the latest data to arrive at the price forecasts. Data is gathered from many sources behind-the-scenes
    to produce the magic.
  </div>
  <br>
  <div>
    <h3>Contact Info & Support</h3>
    Email TwentyFourCoins at <a href='mailto:support@twentyfourcoins.com'>support@twentyfourcoins.com</a> for questions, feedback, or technical problems.
  </div>
  <br>
  <br>
  <a href="/" class="navLink"><button class="navButton"><i class="fas fa-arrow-left"></i><span>Go Back</span></button></a>
</div>
{% endblock %}