{% extends 'base.html' %}
{% block content %}
  <div>
    <div>Woops! Something went wrong. Try returning to the <a href="/">home page</a> and starting over. Email support@twentyfourcoins.com if you continue to experience a technical issue and would like support. We apologize in advance for any inconvience.</div>
    <br>
    <div>
      <img src='./images/error.jpg' style="width:400px;border-radius:5px;box-shadow: 2px 2px darkgrey;">
    </div>
    <br>
    <div>{{ERROR}}</div>
  </div>
  <br>
{% endblock %}