{% extends 'base.html' %}
{% block content %}
<div style="display:flex;align-items:top;">
  <div class="coinBlock" id="predictPriceBlock">
    <div>Supported Coins:</div>
    {% for COIN_NAME, COIN in SUPPORTED_COINS %}
        <button class="coinButton" id="getPrice{{COIN}}" value="{{COIN_NAME}}:{{COIN}}" onclick="pricePrediction(this)">{{COIN_NAME}}<br>({{COIN}})</button>
    {% endfor %}
  </div>
  <div id="mainContainer">
    <div id="summary">
      <div>
        TwentyFourCoins offers 24-hour, forwarding-looking price
        forecasts for popular cryptocurrencies using artificial
        intelligence trained from historical pricing data to support
        cryptocurrency trading.
      </div>
    </div>
    <!-- REAL PREDICTION -->
    <div id="pricePredictionBox" class="predictionBox" style="display:none;">
      <div id="predict_coin" class="coinTitle"></div>
      <br>
      <div>
        <span>24-Hour Price Forecast:</span>
        <span id="predict_prediction" class="predAttribute"></span>
      </div>
      <div>
        <span>24-Hour Price Change:</span>
        <span id="predict_change" class="predAttribute"></span>
        <span id="predict_change_pct" class="predAttribute"></span>
      </div>
      <br>
      <div>
        <span>Latest Actual Price Time:</span>
        <span id="predict_time" class="predAttribute"></span>
      </div>
      <div>
        <span>Latest Actual Close Price:</span>
        <span id="predict_close" class="predAttribute"></span>
      </div>
      <br>
      <button id="modelDetailsButton" data-toggle="collapse" data-target="#modelDetailsBlock">
        <i id="modelDetailsCaret" class="fas fa-caret-right"></i>
        Model Performance Metrics
      </button>
      <div id="modelDetailsBlock" class="collapse">
        <div>
          <span>Model Training Time:</span>
          <span id="stats_training_time" class="predAttribute"></span>
        </div>
        <div>
          <span>Model MAE:</span>
          <span id="stats_mae" class="predAttribute"></span>
        </div>
        <div>
          <span>Model MAPE:</span>
          <span id="stats_mape" class="predAttribute"></span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
