{% extends 'base.html' %}
{% set active_page = "index" %}
{% block content %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<meta http-equiv="Refresh" content="300">
<div style="display:flex;flex-direction:column;align-items:center;">
  <div>
    <h1>Cryptocurrency Price Forecasts</h1>
  </div>
  <br>
  <div style="display:flex;align-items:top;float:left;">
    <div style="max-width:300px;margin-right:25px;">
      <div class="tfcDivWhiteBackground">
        <div>Time Windows</div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="windowRadioButtons" id="radio24Hours" value="288" checked>
          <label class="form-check-label" for="radio24Hours">
            24 Hours
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="windowRadioButtons" id="radio30Days" value="8640">
          <label class="form-check-label" for="radio30Days">
            30 Days
          </label>
        </div>
      </div>
      <div class="tfcDivBlueBackground" id="predictPriceBlock">
        <div>
          Supported Coins
          <br>
          Price Forecasts
        </div>
        {% for COIN_NAME, COIN in SUPPORTED_COINS %}
          {% for WINDOW in SUPPORTED_WINDOWS %}
            {% set INSTANCE = COIN + '-' + WINDOW %}
            {% if COIN_STATS[INSTANCE]['change_direction'] == 'up' %} 
              <button class="coinButton buttonGreen" id="getPrice{{COIN}}" value="{{COIN_NAME}}:{{COIN}}" 
              onclick="pricePrediction(this)" {% if WINDOW != "288" %} style="display:none;" {% endif %}
              data-window={{WINDOW}}>
                {{COIN_NAME}}
                <br>
                <i class='fas fa-caret-up'></i> 
                {{COIN_STATS[INSTANCE]['expected_change_pct']}}
              </button>
              {% else %}
                <button class="coinButton buttonRed" id="getPrice{{COIN}}" value="{{COIN_NAME}}:{{COIN}}" 
                onclick="pricePrediction(this)" {% if WINDOW != "288" %} style="display:none;" {% endif %}
                data-window={{WINDOW}}>
                {{COIN_NAME}}
                <br>
                <i class='fas fa-caret-down'></i> 
                {{COIN_STATS[INSTANCE]['expected_change_pct']}}
              </button>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="tfcDivWhiteBackground">
        <a href='/about' style="text-decoration:underline;">What is TwentyFourCoins?</a>
        <br>
        <div style="text-align:center;">
          <h4>Share:</h4>
          <div>
            <a class="socialLink" title="Share on Twitter" href="https://twitter.com/intent/tweet?text=AI-powered cryptocurrency price forecasts!%0D%0A&url=https://TwentyFourCoins.com%0D%0A%0D%0A&hashtags=bitcoin,litecoin,ethereum,basicattentiontoken" target="_blank">
              <img alt="Share on Twitter" class="socialIcon" src='icons/Twitter.svg'>
            </a>
            <a class="socialLink" href="https://www.facebook.com/sharer/sharer.php?u=https://TwentyFourCoins.com&quote=AI-powered cryptocurrency price forecasts!%0D%0A" title="Share on Facebook" target="_blank">
              <img alt="Share on Facebook" class="socialIcon" src="icons/Facebook.svg" />
            </a>
            <a class="socialLink" href="http://www.linkedin.com/shareArticle?mini=true&url=https://TwentyFourCoins.com" target="_blank" title="Share on LinkedIn">
              <img alt="Share on LinkedIn" class="socialIcon" src="icons/LinkedIn.svg" />
            </a>
          </div>
        </div>
        <br>
        <div style="display:flex;flex-direction:column;align-items:center;">
          <i class="fas fa-sync"></i>
          <div>The page will automatically refresh every five minutes to provide current prices and predictions. The last update was at {{UPDATE_TIME}}</div>
        </div>
      </div>
    </div>
    <div>
      <!-- PREDICTION BOX -->
      <div id="pricePredictionBox" class="predictionBox" style="display:none;">
        <h3 id="predict_coin"></h3>
        <div>
          <button id="emojiRocket" class="emojiButton">&#128640 <span id="emojiRocketValue">{{ROCKET_TOTAL}}</span></button>
          <button id="emojiDeath" class="emojiButton">&#9760 <span id="emojiDeathValue">{{DEATH_TOTAL}}</span></button>
        </div>
        <br>
        <div>
          <span>Price Forecast:</span>
          <span id="predict_prediction" class="predAttribute"></span>
        </div>
        <div>
          <span>Price Change:</span>
          <span id="predict_change" class="predAttribute"></span>
          <span id="predict_change_pct" class="predAttribute"></span>
        </div>
        <br>
        <div>
          <span>Latest Actual Price:</span>
          <span id="actual_close" class="predAttribute"></span>
        </div>
        <div>
          <span>Latest Actual Price Time:</span>
          <span id="actual_time" class="predAttribute"></span>
        </div>
        <br>
        <div id="mainChart"></div>
        <br>
        <div>Model Performance Metrics</div>
        <div>
          <div>
            <span>MAE:</span>
            <span id="stats_mae" class="predAttribute"></span>
          </div>
          <div>
            <span>MAPE:</span>
            <span id="stats_mape" class="predAttribute"></span>
          </div>
          <div>
            <span>Training Time:</span>
            <span id="stats_training_time" class="predAttribute"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="display:flex;flex-direction:column;align-items:center;margin-top:100px;height:100px;width:100vw;">
  <h4>TwentyFourCoins Uses State-of-the-Art Technology:</h4>
  <div>
    <img class="techLogo" alt="AWS Logo" src="images/amazon-web-services-logo.png"/>
    <img class="techLogo" alt="TensorFlow Logo" src="images/tensorflow.png"/>
    <img class="techLogo" alt="Flask Logo" src="images/flask.png"/>
    <img class="techLogo" alt="Python Logo" src="images/python.png"/>
  </div>
</div>

{% endblock %}
